<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">    
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 card mx-auto p-5 mt-3">
                <h2>login</h2>
                <hr>
                <form action="{%url 'login'%}" method="post" >
                    {%csrf_token%}
                    <label for="uname">Username</label>
                    <input type="text" id="uname" name="uname" placeholder="Enter Username">
                    <br>
                    <br>
                    <label for="pass">password</label>
                    <input type="password" id="pass" name="pass" placeholder="Enter password">
                    <br>
                    <br>
                    <input type="submit" class="btn btn-success">
                    <br>
                    <br>
                    Create An Account !! 
                    <a href="{%url 'index'%}">Signup Here</a>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>
</html>